<div style="text-align: center; font-family: Arial;">
<h1>JMBSoft.Com Forum Archive</h1>

Archive created on 7/30/2013<br>
It may not have all the eye candy as the original forums but at least we were able to save the info contained in them! :)

<h2>Hosted by <a href="../../external.html?link=http://www.unofficialjmbsupport.com/">UnofficialJMBSupport.Com</a></h2>
<h2><a href="../../external.html?link=http://forums.unofficialjmbsupport.com/">Forums</a> - <a href="../../external.html?link=http://tickets.unofficialjmbsupport.com/">Support Tickets</a></h2>
</div>
<hr>
  <h2 class="cufon">Discussion Forums</h2>

  
  <table cellpadding="3" cellspacing="1" border="0" class="forum-table" width="100%">
    <tr>
      <td class="grey-ee" colspan="3">
        <span class="treb-130">General</span>
      </td>
    </tr>
        <tr>
      <td class="grey-f5">
        <a href="index0c08.html?i=viewboard/1/">Announcements</a><br />
        <span class="font-90">Announcements about new software releases, special offers, and other news items will be posted in this forum.</font>
      </td>
      <td class="grey-f5 font-90" width="100" align="center">
        2 posts in<br />
        2 topics      </td>
      <td class="grey-f5 font-90" width="150" align="center">
                2011-08-10 20:16:32<br />
        by <b>jeremy</b>
              </td>
    </tr>
        <tr>
      <td class="grey-f5">
        <a href="indexdd9e.html?i=viewboard/2/">Webmaster Chat</a><br />
        <span class="font-90">Use this forum to chat with other owners about any topics you would like.</font>
      </td>
      <td class="grey-f5 font-90" width="100" align="center">
        548 posts in<br />
        193 topics      </td>
      <td class="grey-f5 font-90" width="150" align="center">
                2013-07-19 19:11:12<br />
        by <b>elitedllc</b>
              </td>
    </tr>
      </table>

  <br />

  
  <table cellpadding="3" cellspacing="1" border="0" class="forum-table" width="100%">
    <tr>
      <td class="grey-ee" colspan="3">
        <span class="treb-130">Product Forums</span>
      </td>
    </tr>
        <tr>
      <td class="grey-f5">
        <a href="indexcd61.html?i=viewboard/10/">TGPX Chat</a><br />
        <span class="font-90">Chat with other owners of TGPX.  Share tips and tricks, help each other out, and discuss any other items related to the software</font>
      </td>
      <td class="grey-f5 font-90" width="100" align="center">
        15,104 posts in<br />
        3,926 topics      </td>
      <td class="grey-f5 font-90" width="150" align="center">
                2013-07-26 23:27:47<br />
        by <b>XXXThumbs</b>
              </td>
    </tr>
        <tr>
      <td class="grey-f5">
        <a href="index3414.html?i=viewboard/12/">TubeX Chat</a><br />
        <span class="font-90">Chat with other owners of TubeX.  Share tips and tricks, help each other out, and discuss any other items related to the software</font>
      </td>
      <td class="grey-f5 font-90" width="100" align="center">
        6,494 posts in<br />
        1,591 topics      </td>
      <td class="grey-f5 font-90" width="150" align="center">
                2013-07-18 12:50:16<br />
        by <b>bogmar88</b>
              </td>
    </tr>
        <tr>
      <td class="grey-f5">
        <a href="index805f.html?i=viewboard/13/">TradeX Chat</a><br />
        <span class="font-90">Chat with other owners of TradeX.  Share tips and tricks, help each other out, and discuss any other items related to the software</font>
      </td>
      <td class="grey-f5 font-90" width="100" align="center">
        1,775 posts in<br />
        440 topics      </td>
      <td class="grey-f5 font-90" width="150" align="center">
                2013-07-26 23:07:45<br />
        by <b>angelicion</b>
              </td>
    </tr>
        <tr>
      <td class="grey-f5">
        <a href="index49a7.html?i=viewboard/9/">LinkX Chat</a><br />
        <span class="font-90">Chat with other owners of LinkX.  Share tips and tricks, help each other out, and discuss any other items related to the software</font>
      </td>
      <td class="grey-f5 font-90" width="100" align="center">
        3,112 posts in<br />
        858 topics      </td>
      <td class="grey-f5 font-90" width="150" align="center">
                2013-07-26 23:05:25<br />
        by <b>angelicion</b>
              </td>
    </tr>
        <tr>
      <td class="grey-f5">
        <a href="indexc242.html?i=viewboard/11/">ToplistX Chat</a><br />
        <span class="font-90">Chat with other owners of ToplistX.  Share tips and tricks, help each other out, and discuss any other items related to the software</font>
      </td>
      <td class="grey-f5 font-90" width="100" align="center">
        2,765 posts in<br />
        682 topics      </td>
      <td class="grey-f5 font-90" width="150" align="center">
                2013-06-26 13:00:28<br />
        by <b>angelicion</b>
              </td>
    </tr>
      </table>

  <br />

  